---
- name: setup maven
  hosts: localhost
  become: yes

  tasks:
    - name: compile footgo app
      shell: sudo mvn clean package
      register: maven
      args:
        chdir: /home/ubuntu/jenkins/workspace/setup jenkins node/footgo/
      environment:
        MAVEN_OPTS: '-Xmx800m'
        MAVEN_SKIP_RC: 'true'
    - debug: msg="{{ maven.stdout_lines }}"
    - name: create docker image
      shell: sudo docker build -t olehzz_footgo "/home/ubuntu/jenkins/workspace/setup jenkins node/" 

    - name: Login to AWS
      shell: "$(aws ecr get-login --no-include-email --region us-east-1)"

    - name: Push image to registry
      docker_image:
        name: olehzz_footgo
        repository: 622371100744.dkr.ecr.us-east-1.amazonaws.com/olehzz_footgo
        push: yes
        tag: