---
- name: deploy artifact
  hosts: tag_aws_autoscaling_groupName_ASG_webservers
  become: yes

  tasks:
    - name: Login to AWS
      shell: "$(aws ecr get-login --no-include-email --region us-east-1)"

    - name: Push image to registry
      docker_image:
        name: olehzz_footgo
        repository: 622371100744.dkr.ecr.us-east-1.amazonaws.com/olehzz_footgo
        pull: yes
        tag: latest
    
    - name: Login to AWS
      shell: docker run -p 8080:8080 622371100744.dkr.ecr.us-east-1.amazonaws.com/olehzz_footgo