---
- name: deploy artifact
  hosts: tag_aws_autoscaling_groupName_ASG_webservers
  become: yes
  vars:
      ansible_ssh_private_key_file: "/home/ubuntu/.ssh/jenkins_aws.pem"

  tasks:
    - name: Login to AWS
      shell: "$(aws ecr get-login --no-include-email --region us-east-1)"

    - name: Pull image from ecr
      docker_image:
        name: 622371100744.dkr.ecr.us-east-1.amazonaws.com/olehzz_footgo
        repository: 622371100744.dkr.ecr.us-east-1.amazonaws.com/olehzz_footgo
        pull: yes
        tag: latest

     name: Stop docker
        #  shell: docker stop $(docker ps -q)
    
    - name: Login to AWS
      shell: docker run -p 8080:8080 622371100744.dkr.ecr.us-east-1.amazonaws.com/olehzz_footgo