---
- name: deploy artifact
  hosts: tag_aws_autoscaling_groupName_ASG_webservers
  become: yes
  vars:
      ansible_ssh_private_key_file: "/home/ubuntu/jenkins/.ssh/jenkins_aws.pem"

  tasks:
    - name: Login to AWS
      shell: "$(aws ecr get-login --no-include-email --region us-east-1)"

    - name: Pull image from ecr
      docker_image:
        name: 622371100744.dkr.ecr.us-east-1.amazonaws.com/olehzz_footgo
        repository: 622371100744.dkr.ecr.us-east-1.amazonaws.com/olehzz_footgo
        pull: yes
        tag: latest

    - name: Stop app
      docker_container:
        name:  footgo
        state: absent
       

    - name: Run app
      docker_container:
        name: footgo
        state: started
        published_ports: 8080:8080
        image: 622371100744.dkr.ecr.us-east-1.amazonaws.com/olehzz_footgo
        detach: True

    - name: check app
      uri:
        url: http://18.232.114.252:8080/
        method: get
        status_code: [200]
      register: result
      until: result.status == 200
      retries: 10
      delay: 10

      
        
    # - name: Stop docker
    #   shell: docker stop $(docker ps -q)

    # - name: Remove docker
    #   shell: docker rm $(docker ps -q)
    
    # - name: docker run footgo
    #   shell: docker run -d --name footgo -p 8080:8080 622371100744.dkr.ecr.us-east-1.amazonaws.com/olehzz_footgo